<h1>TinyApp</h1>
<form action="/login" method="POST" style="margin: 150px 150px 50px 150px;">
  <label for="Username">Enter a Username:</label>
  <input id="Username" type="text" name="Username" placeholder="Name">
  <input type="submit" value="Submit">
</form>