<h1>TinyApp</h1>
<form action="/login" method="POST">
  <label for="Username">Enter a Username:</label>
  <input id="Username" type="text" name="Username" placeholder="Name">
  <input type="submit" value="Submit">
</form>
<% if(username === undefined){ %>
  <h2>Please login</h2>
  <% } else { %>
<h2>Hello <%= username %></h2>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } %>