<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="main.css">

</head>
  <body>
    <header>

      <%- include('partials/_header') %>
    </header>
    <% if (user === undefined){ %>
     <h2>Please login to see your shortened URLS</h2>
    <% } else { %>
     <%- include('partials/_urlsdisplay') %>
    <% } %>
  </body>
</html>