<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h2>Please Login</h2>
    <form action="/login" method="POST">
      <label for="email">Enter an email</label>
      <input id="email" type="email" name="email" required>
      <label for="password">Enter an password</label>
      <input id="password" type="password" name="password" required>
      <input type="submit" value="Submit">
    </form>
    <form action="/urls" method="GET>
      <input type="submit" value="Cancel">
    </form>
  </body>
</html>