<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <p><%= shortURL + ' : ' + urls[shortURL].longURL %></p>
  <form action="/urls/<%= shortURL%>" method="POST">
    <input id="updateURL" type="text" name= updateURL placeholder="http://">
    <input type="submit" value="Update">
  </form>
  <form action="/urls" method="GET">
    <input type="submit" value="Cancel">
  </form>
</body>
</html>
